<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
	
	<bean class="org.dysd.util.config.BaseConfig">
		<property name="appName" value="test"/>
	</bean>
	
	<!-- 扫描通过注解配置的Bean -->
	<context:component-scan base-package="org.dysd" />

	<!-- 启用缓存注解驱动 -->
	<cache:annotation-driven />

	<bean id="cacheManager" class="org.springframework.cache.support.CompositeCacheManager">
		<property name="cacheManagers">
			<list>
				<bean class="org.springframework.cache.concurrent.ConcurrentMapCacheManager"/>
			</list>
		</property>
		<property name="fallbackToNoOpCache" value="true" />
	</bean>
</beans>
